.menu {
  display: inline-block;
  color: var(--cor-terciaria);
  transition: background-color 0.3s, transform 0.3s;
}

.menu:hover {
  transform: translateX(-3px);
  color: var(--cor-primaria);
}

.menu:focus {
  outline: none;
  transform: translateX(-3px);
}

.button-1 {
  background-color: var(--button-1-bg);
  border-radius: 0 25px 0 25px;
  padding: 4px 12px;
}

.button-1:hover {
  background-color: var(--button-1-hover);
}

.button-2 {
  background-color: var(--button-2-bg);
  border-radius: 10px 0 10px 0;
  padding: 4px 12px;
}

.button-2:hover {
  background-color: var(--button-2-hover);
}

.button-3 {
  background-color: var(--button-3-bg);
  border-radius: 0 0 25px 0;
  padding: 4px 12px;
}

.button-3:hover {
  background-color: var(--button-3-hover);
}

.button-4 {
  background-color: var(--button-4-bg);
  border-radius: 50px 50px 25px 25px;
  padding: 4px 12px;
}

.button-4:hover {
  background-color: var(--button-4-hover);
}

.button-5 {
  background-color: #f29e00;
  border-radius: 12px 12px 0 0;
  padding: 4px 12px;
}
.button-5:hover {
  background-color: #e68900;
}

.button-6 {
  background-color: #ff5f57;
  border-radius: 20px;
  padding: 4px 12px;
}

.button-6:hover {
  background-color: #e14e44;
}

.button-cv {
  background-color: #ff5f57;
  border-radius: 0px 25px 0px 0px;
  padding: 4px 12px;
}

/* .button-cv:hover {
  background-color: #e14e44;
} */
