.contato-container {
  box-sizing: border-box;
  padding: 1.25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.contato {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.contato-itens {
  display: flex;
  column-gap: 3rem;
  margin-bottom: 1rem;
}

.contato-info {
  display: flex;
  justify-content: space-between;
}

.contato-info address {
  align-self: center;
}
