* {
  box-sizing: border-box;
}

body {
  background-color: #131313;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
blockquote,
dd {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 4px;
}

.container {
  box-sizing: border-box;
  padding: 1.25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.sobre-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.sobre-menu a {
  display: inline-block;
}

.subtitulos {
  margin-bottom: 56px;
}

footer p {
  margin-top: 56px;
  text-align: center;
}
