:root {
  --font-primary: "Nunito", sans-serif;

  /* Tamanhos das fontes */
  --font-h1: 2.583rem;
  --font-h2: 2rem;
  --font-menu2: 1.5rem;
  --font-p: 1.3rem;
  --font-small-p: 1rem;
  --font-h3: 1.5rem;
  --font-card: 1rem;

  /* Pesos das fontes */
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 900;

  /* Principal (h1) */
  .font-h1 {
    font: var(--font-bold) var(--font-h1) / 1.5 var(--font-primary);
    text-transform: uppercase;
  }
  .font-h2 {
    font: var(--font-bold) var(--font-h2) / 1.5 var(--font-primary);
    text-transform: uppercase;
  }
  .font-menu-2 {
    font: var(--font-bold) var(--font-menu2) / 1.5 var(--font-primary);
    text-transform: lowercase;
  }
  .font-p {
    font: var(--font-semibold) var(--font-p) / 1.2 var(--font-primary);
  }
  .font-small-p {
    font: var(--font-regular) var(--font-small-p) / 1.2 var(--font-primary);
  }

  .font-h3 {
    font: var(--font-regular) var(--font-h3) / 1.5 var(--font-primary);
  }
  .font-card {
    font: var(--font-regular) var(--font-card) / 1.5 var(--font-primary);
  }
  .font-cta {
    font: var(--font-regular) var(--font-p) / 1.3 var(--font-primary);
  }
  .font-cta-h3 {
    font: italic var(--font-p) / 1.3 var(--font-primary);
  }
}
